@using MyProject.Localization
@using MyProject.Service
@using MyProject.EfStuff.Model

@inject IUserService userService
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css?v=10" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/layout.css?v=7" />
    <link rel="stylesheet" href="~/css/icon.css?v=3" />
    <link rel="stylesheet" href="~/css/link.css?v=1" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/layout.js"></script>
    <script src="~/js/buttonLR.js"></script>

    @RenderSection("Style", required: false)
    @RenderSection("Script", required: false)
</head>
<body>
    <div class="layout-block">
        <div class="top">
            <div class="right-top-part">
                <a href="../Home/Index" class="link">
                    <div class="icon home">@Resource.Layout_Home</div>
                </a>
                <a href="../Cafe/Menu" class="link">
                    <div class="icon link menu">@Resource.Layout_Menu</div>
                </a>
                <div class="lang-dropdown">
                    <div class="dropdown link">
                        <div class="icon">
                            @if (User.Identity.IsAuthenticated)
                            {
                                var user = userService.GetCurrent();
                                var languageViewModel = new LanguageViewModel()
                                {
                                    language = user.Language
                                };
                                @Html.Partial("_lang", languageViewModel)
                            }
                            else
                            {
                                <span>@Resource.lang</span>
                            }
                        </div>
                        <div class="lang-content hide">
                            <a class="ru lang" value="@Language.ru">Русский</a>
                            <a class="en lang" value="@Language.en">English</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-top-part">

                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/User/Profile" class="link">
                        <div class="icon profile">@Resource.Layout_Profile</div>
                    </a>
                    <a href="/User/Logout" class="link">
                        <div class="icon log-out">@Resource.Layout_SignOut</div>
                    </a>
                }
                else
                {
                    <div class="icon log-in link">@Resource.Layout_SignIn</div>
                }
            </div>
        </div>

        <div class="nice-popup hide">
            <div class="popup-cover"></div>
            <div class="login-block">
                <div class="login-direction">
                    <form action="/User/Login" method="post" id="login-or-registration" class="loginformstyle">
                        <div>
                            <input name="@nameof(RegistrationViewModel.Login)" class="input-fields" type="text" placeholder="@Resource.Placeholder_login" />
                        </div>
                        <div>
                            <input name="@nameof(RegistrationViewModel.Password)" class="input-fields" type="password" placeholder="@Resource.Placeholder_password" />
                        </div>
                        <div class="login-but">
                            <input class="pglogbut" type="submit" value="@Resource.Layout_LogIn" />
                        </div>
                        <div class="or">@Resource.Layout_or</div>
                        <div class="registration-but">
                            <input class="pglogbut" type="submit" value="@Resource.Layout_Registration" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer">

    </div>
</body>
</html>
