<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css?v=8" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/layout.css?v=5" />
    <link rel="stylesheet" href="~/css/icon.css?v=2" />
    <link rel="stylesheet" href="~/css/link.css?v=1" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/layout.js"></script>
    <script src="~/js/buttonLR.js"></script>

    @RenderSection("Style", required: false)
    @RenderSection("Script", required: false)
</head>
<body>
    <div class="layout-block">
        <div class="top">
            <div class="right-top-part">
                <a href="../Home/Index" class="link">
                    <div class="icon home">Home</div>
                </a>
                <a href="../Cafe/Menu" class="link">
                    <div class="icon menu">Menu</div>
                </a>
            </div>
            <div class="left-top-part">

                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/User/Profile" class="link">
                        <div class="icon profile">Profile</div>
                    </a>
                    <a href="/User/Logout" class="link">
                        <div class="icon log-out">Sign out</div>
                    </a>
                }
                else
                {
                    <div class="icon log-in link">Sign in</div>
                }
            </div>
        </div>

        <div class="nice-popup hide">
            <div class="popup-cover"></div>
            <div class="login-block">
                <div class="login-direction">
                    <form action="/User/Login" method="post" id="login-or-registration" class="loginformstyle">
                        <div>
                            <input name="@nameof(RegistrationViewModel.Login)" class="input-fields" type="text" placeholder="login" />
                        </div>
                        <div>
                            <input name="@nameof(RegistrationViewModel.Password)" class="input-fields" type="password" placeholder="password" />
                        </div>
                        <div class="login-but">
                            <input class="pglogbut" type="submit" value="Log in" />
                        </div>
                        <div class="or">or</div>
                        <div class="registration-but">
                            <input class="pglogbut" type="submit" value="Registration" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer">

    </div>
</body>
</html>
