@using MyProject.Localization
@using MyProject.Service
@inject IUserService userService
@model UserFormViewModel
@section Style
{
    <link rel="stylesheet" href="~/css/form.css?v=3">
    <link rel="stylesheet" href="~/css/errorMessage.css">
}
@section Script
{
    <script src="~/js/mask.js"></script>
}
<div class="form-block">
    <form action="../User/Form" method="post" class="form">
        @{
            var user = userService.GetCurrent();
        }
        <div class="form-field">
            @Html.TextBox("Name", user.Name, new {
                type = "text",
                @class = "input-fields"
            })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-field">
            @Html.TextBox("Surname", user.Surname, new
            {
                type = "text",
                @class = "input-fields",
                placeholder = $"{nameof(Model.Surname)}"
            })
            @Html.ValidationMessageFor(model => model.Surname)
        </div>
        <div class="form-field">
            @Html.TextBox("Birthday", user.Birthday, new
            {
                type = "date",
                @class = "input-fields",
                placeholder = $"{nameof(Model.Birthday)}"
            })
        </div>
        <div class="form-field">
            @Html.TextBox("Card", user.Card, new
            {
                id = "user-card",
                type = "text",
                @class = "input-fields",
                placeholder = $"{nameof(Model.Card)}"
            })
            @Html.ValidationMessageFor(model => model.Card)
        </div>
        <div class="form-field">
            @Html.TextBox("Email", user.Email, new
            {
                type = "text",
                @class = "input-fields",
                placeholder = $"{nameof(Model.Email)}"
            })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="buttons">
            <input class="pglogbut" type="submit" value="@Resource.Form_Save" />
            <a href="../User/Profile" class="link">
                <div class="pglogbut">@Resource.Form_exit</div>
            </a>
        </div>
    </form>
</div>