@using MyProject.Localization
@model UserFormViewModel
@section Style
{
    <link rel="stylesheet" href="~/css/form.css?v=2">
    <link rel="stylesheet" href="~/css/errorMessage.css">
}
<div class="form-block">
    <form action="../User/Form" method="post" class="form">
        <div class="form-field">
            @Html.TextBoxFor(model => model.Name, new
            {
                type = "text",
                @class = "input-fields",
                placeholder = $"{nameof(Model.Name)}"
            })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-field">
            @Html.TextBoxFor(model => model.Surname, new
            {
                type = "text",
                @class = "input-fields",
                placeholder = $"{nameof(Model.Surname)}"
            })
            @Html.ValidationMessageFor(model => model.Surname)
        </div>
        <div class="form-field">
            @Html.TextBoxFor(model => model.Birthday, new { type = "date",
                @class = "input-fields",
                placeholder = $"{nameof(Model.Birthday)}" })
        </div>
        <div class="form-field">
            @Html.TextBoxFor(model => model.Email, new
            {
                type = "text",
                @class = "input-fields",
                placeholder = $"{nameof(Model.Email)}"
            })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <input class="pglogbut" type="submit" value="@Resource.Form_Send" />
    </form>
</div>