@using MyProject.Localization
@model ProfileViewModel
@section Style
{
    <link rel="stylesheet" href="~/css/profile.css?v=9">
}

@section Script
{
    <script src="~/js/profile.js"></script>
}

<div class="profile-block">
    <div class="profile-page">
        <div class="top-block">
            <div>
                <form action="/User/Profile" method="post" enctype="multipart/form-data" class="avatar-form hide">
                    <div>
                        <label class="label">
                            <div>@Resource.Profile_change_avatar</div>
                            <input type="file" accept=".jpg, .jpeg, .png" name="@nameof(AvatarViewModel.Avatar)" class="file"/>
                        </label>
                    </div>
                    <div>
                        <label class="label">
                            <div>@Resource.Profile_save</div>
                            <input type="submit" class="file" />
                        </label>
                    </div>
                </form>
                <img class="avatar" src="@Model.AvatarUrl">
            </div>
            <div>
                <div class="user-name">
                    @Model.Name
                    @Model.Surname
                </div>
                <a href="../User/Form" class="form link">
                    @Resource.Profile_Edit
                </a>
                <a href="/Review/Reviews" class="form link">
                    @Resource.Profile_review
                </a>
                <div class="form-information">
                    @if (Model.Birthday != new DateTime())
                    {
                        <div>
                            @nameof(Model.Birthday): @Model.Birthday.ToShortDateString()
                        </div>
                    }
                    @if (Model.Email != null)
                    {
                        <div>
                            @nameof(Model.Email): @Model.Email
                        </div>
                    }
                    @if (Model.Card != null)
                    {
                        <div>
                            @nameof(Model.Card): @Model.Card
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="central-block">
            
        </div>
    </div>
    <div class="special-offer-block">

    </div>
</div>
