@using MyProject.Localization
@model ProfileViewModel
@inject MyProject.Service.IUserService userService
@section Style
{
    <link rel="stylesheet" href="~/css/profile.css?v=3">
}

<div class="profile-block">
    <div class="profile-page">
        <div class="top-block">
            <img class="avatar" src="">
            <div>
                <div class="user-name">
                    @Model.Name
                    @Model.Surname
                </div>
                <a href="../User/Form" class="form link">
                    @Resource.Profile_Form
                </a>
            </div>
        </div>
        <div class="central-block">
            <div class="form-information">
                @if(Model.Birthday != new DateTime())
                {
                    <div>
                        @nameof(Model.Birthday) @Model.Birthday.ToShortDateString();
                    </div>
                }
                @if (Model.Email != null)
                {
                    <div>
                        @nameof(Model.Email) @Model.Email
                    </div>
                }
            </div>
            <form action="/" method="post">
                <input type="submit" class="review">
            </form>
        </div>
    </div>
    <div class="special-offer-block">

    </div>
</div>
