@using MyProject.Localization
@{
    ViewData["Title"] = "Home Page";
}
@section Style
{
    <link rel="stylesheet" href="~/css/button.css" />
}
@section Script
{
    <script src="~/js/carousel.js"></script>
    <script src="~/js/carousel-modul.js"></script>
}

<div class="main-block">
    <div class="header-block">
        <div class="conteiner">
            <div class="magnolia">Magnolia</div>
        </div>
        <img src="/images/cafe5.jpg" class="main-pic" />
    </div>
    <div class="menu-block">
        <div class="menu-content">
            <div class="menu-title-block">
                <h1 class="menu-title">@Resource.Index_Menu</h1>
                <p class="menu-text">
                    @Resource.Index_text_1
                    <br>
                    @Resource.Index_text_2
                </p>
                <a href="/Cafe/Menu" class="link">
                    <div class="wrapper">
                        <input class="pglogbut wrapper block" type="submit" value="@Resource.Index_discover_menu" />
                    </div>
                </a>
            </div>
        </div>
        <div class="menu-img"></div>
    </div>
    <div class="special-offer">
        <div class="special-offer-img"></div>
        <div class="special-offer-content">
            <div class="special-offer-title-block">
                <h1 class="special-offer-title">@Resource.Index_Special_offer</h1>
                <p class="special-offer-text">
                    @Resource.Index_text_1
                    <br>
                    @Resource.Index_text_2
                </p>
                <a href="/Cafe/SpecialOffer" class="link">
                    <div class="wrapper">
                        <input class="pglogbut wrapper block" type="submit" value="@Resource.Index_discover_SO" />
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="carousel-block">
        <div class="carousel-title">@Resource.Index_Our_cafe</div>
        <div class="animate-block"></div>
        <div class="animate-block-dots"></div>
    </div>
    <div class="review_main_page">
        <div class="message">@Resource.Review_look</div>
        <a href="../Review/Reviews" class="link">
            <div class="pglogbut">@Resource.Review_review</div>
        </a>
    </div>
</div>